
/* Base
–––––––––––––––––––––––––––––––––––––––––––––––––– */
html,
body {
  background-color: #000;
  color: #444;
  height: 100%;
  margin: 0;
  width: 100%;
}

/* Header */
header {
  background-color: lighten($black, 5%);
  box-shadow: 0 0 8px rgba($black, 0.9);
  left: 0;
  overflow: hidden;
  padding-left: 4rem;
  padding-right: 4rem;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: $z-app-header;

  h1 {
    color: #fff;
    display: block;
    font-size: 1.25em;
    font-weight: 600;
    height: $header-height;
    letter-spacing: 0.2rem;
    line-height: $header-height;
    margin: 0;
    text-align: left;
    text-transform: uppercase;
  }
}

main {
  margin-top: $header-height;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 600;
}

/* Ripple */
%optimize {
  @include transform(translateZ(0));
  @include backface-visibility(hidden);
  @include transform-style(preserve-3d);
}

svg {
  @extend %optimize;
  display: none;
  height: 100%;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;

  &.full {
    display: inherit;
  }
}

circle {
  @extend %optimize;
  @include transition(all $timing-function  600ms);
}
