
/* UI Card
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.album-card {
  @include display(flex);
  @include transform(scale3d(0, 1, 1));
  @include transform-origin(left center);
  @include transition(all cubic-bezier(0.61, 0.24, 0.28, 1.15) 600ms);

  bottom: 64px;
  height: 25vw;
  left: 12.5%;
  opacity: 0;
  position: fixed;
  width: 75%;

  &--expand {
    @include transform(scale3d(1, 1, 1));
    opacity: 1;

    .album-card__title,
    .album-card__artist { opacity: 1; }
  }

  /* Album Cover */
  &__figure {
    @include display(flex);
    height: 100%;
    overflow: hidden;
    text-align: center;
    width: 25vw;
  }

  /* Album Info */
  &__body {
    @include display(flex);
    @include flex(1);
    @include flex-wrap(wrap);
    @include align-content(center);
    padding: 2rem;
    text-align: left;

    @media (min-width: $md) {
      padding: 4rem;
    }
  }


  &__title {
    @include ellipsis(100%);
    font-size: 3.0rem;
    font-weight: 400;
    line-height: 1.2;
    margin-bottom: 0;
    margin-top: 0;
    text-transform: uppercase;
    width: 100%;

    @media (min-width: $md) {
      font-size: 5.0rem;
      margin-bottom: 0.25rem;
    }
  }

  &__artist {
    @include ellipsis(100%);
    font-size: 1.5rem;
    font-weight: 300;
    line-height: 1.3;
    margin: 0 0 0 2px;
    width: 100%;

    @media (min-width: $md) {
      font-size: 3.0rem;
    }
  }
}
