
/* Player
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.player {
  @extend %optimize;
  background-color: $white;
  border-top: 4px solid $pink;
  bottom: 0;
  height: $player-height;
  left: 12.5%;
  position: fixed;
  width: 75%;
  z-index: $z-index-player;

  .album-art {
    float: left;
    height: $player-height - 4px;
    margin-right: 15px;
    overflow: hidden;
    width: $player-height - 4px;

    img {
      height: $player-height - 4px;
      width: $player-height - 4px;
    }
  }

  .body {
    float: left;
    height: 40px;
    margin-top: 12px;

    h4 { margin-bottom: 5px; }

    p {
      color: #aaa;
      font-size: 0.75em;
    }
  }
}
