
/* Player
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.player {
  @include display(flex);
  background-color: $white;
  border-top: 4px solid $pink;
  bottom: 0;
  height: $player-height;
  left: 12.5%;
  position: fixed;
  width: 75%;
  z-index: $z-index-player;

  &__figure {
    @include display(flex);
    height: 100%;
    overflow: hidden;
    text-align: center;
    width: $player-height - 4px;
  }

  &__body {
    @include display(flex);
    @include flex(1);
    @include flex-wrap(wrap);
    @include align-content(center);
    padding: 1rem 2rem;
    text-align: left;
    width: 100%;
  }

  &__title {
    @include ellipsis(100%);
    margin: 0;
    width: 100%;
  }

  &__artist {
    @include ellipsis(100%);
    color: #aaa;
    font-size: 0.75em;
    margin: 0;
    width: 100%;
  }
}
