
/* UI Card
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.ui {
  @include transform(scale3d(0, 1, 1));
  @include transform-origin(left center);
  @include transition(all cubic-bezier(0.61, 0.24, 0.28, 1.15) 600ms);

  bottom: 64px;
  left: 12.5%;
  opacity: 0;
  position: fixed;
  width: 75%;

  h1 {
    font-size: 40px;
    font-weight: 400;
    margin-bottom: 0.25em;
    margin-top: 2.5em;
    text-transform: uppercase;
  }

  h1,
  p {
    @include transition(opacity ease-in-out 300ms);
    @include transition-delay(600ms);
    display: block;
    margin-left: 25vw;
    opacity: 0;
    padding-left: 40px;
    width: 100%;
  }

  p {
    font-size: 20px;
    font-weight: 300;
  }

  &.expand {
    @include transform(scale3d(1, 1, 1));
    opacity: 1;

    h1,
    p { opacity: 1; }
  }
}
